<config xmlns="http://cancergrid.org/schema/config">
	<resources>
		<query_service name="caDSR"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://cabio.nci.nih.gov/cacore32/GetXML"
			cache_collection_id="caDSR" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CDE" connection_type="REST"
			requestSequence="cadsr_query" digestSequence="cadsr_construct fixtag cadsr_transform add_cg_namespace">
			<title>NCI Cancer Data Standards Repository (caDSR)</title>
			<description>NCICB Resource for Common Data Elements</description>
			<webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/cadsr</webUrl>			
		</query_service>
		<query_service name="caDSR-ObjectClass"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://cadsrapi.nci.nih.gov/cadsrapi40/GetXML"
			cache_collection_id="caDSR-ObjectClass" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CDE" connection_type="REST"
			requestSequence="cadsr_OC_query" digestSequence="cadsr_construct fixtag cadsr_transform add_cg_namespace">
			<title>NCI Cancer Data Standards Repository (caDSR)</title>
			<description>NCICB Resource for Common Data Elements</description>
			<webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/cadsr</webUrl>			
		</query_service>
		<query_service name="caDSR-Property"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://cadsrapi.nci.nih.gov/cadsrapi40/GetXML"
			cache_collection_id="caDSR-Property" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CDE" connection_type="REST"
			requestSequence="cadsr_prop_query" digestSequence="cadsr_construct fixtag cadsr_transform add_cg_namespace">
			<title>NCI Cancer Data Standards Repository (caDSR)</title>
			<description>NCICB Resource for Common Data Elements</description>
			<webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/cadsr</webUrl>			
		</query_service>
		<query_service name="EVS-DescLogicConcept"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://cabio.nci.nih.gov/cacore32/GetXML"
			cache_collection_id="EVS-DescLogicConcept" cache="false"
			cache_provider="HibernateCacheProvider"
			category="CONCEPT" connection_type="REST"
			requestSequence="DescLogicConcept_query"
			digestSequence="DescLogicConcept_construct fixtag DescLogicConcept_transform add_cg_namespace">
			<title>NCI Enterprise Vocabulary Services (EVS)</title>
			<description>The NCI EVS is a set of services and resources that address NCI's needs for controlled vocabulary.</description>
			<webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/vocabulary</webUrl>			
		</query_service>
		<query_service name="EVS-MetaThesaurusConcept"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://cabio.nci.nih.gov/cacore32/GetXML"
			cache_collection_id="EVS-MetaThesaurusConcept" cache="false"
			cache_provider="HibernateCacheProvider"
			category="CONCEPT" connection_type="REST"
			requestSequence="MetaThesaurusConcept_query"
			digestSequence="MetaThesaurusConcept_construct fixtag MetaThesaurusConcept_transform add_cg_namespace">
			<title>NCI Enterprise Vocabulary Services (EVS)</title>
			<description>The NCI EVS is a set of services and resources that address NCI's needs for controlled vocabulary.</description>
			<webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/vocabulary</webUrl>			
		</query_service>
		<query_service name="cgMDR"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://localhost:8080/exist/rest/db/mdr/services/dataElementListSearch.xquery"
			cache_collection_id="cgMDR" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CDE" connection_type="REST"
			requestSequence="cgMDR_REST_query"
			digestSequence="add_cg_namespace">
			<title>CancerGrid Metadata Registry (cgMDR)</title>
			<description>CancerGrid Metadata Registry (cgMDR)</description>
			<webUrl>http://localhost:8080/exist/rest/db/mdr/resources/xquery/homepage.xquery</webUrl>
		</query_service>
		<query_service name="cgMDR-Local-Terminology"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://localhost:8080/exist/rest/db/mdr/services/terminology.xquery"
			cache_collection_id="cgMDR-Local-Terminology" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CONCEPT" connection_type="REST"
			requestSequence="cgMDR_REST_query"
			digestSequence="add_cg_namespace">
			<title>CancerGrid Metadata Registry (cgMDR)</title>
			<description>CancerGrid Metadata Registry (cgMDR)</description>
			<webUrl>http://localhost:8080/exist/rest/db/mdr/resources/xquery/homepage.xquery</webUrl>
		</query_service>
		<query_service name="cgMDR-with-Classification"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://localhost:8080/exist/rest/db/mdr/services/dataElementListSearchByClassification.xquery"
			cache_collection_id="cgMDR-with-Classification" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CLASSIFICATION_SCHEME" connection_type="REST"
			requestSequence="cgMDR_SKOS_REST_query"
			digestSequence="add_cg_namespace">
			<title>CancerGrid Metadata Registry (cgMDR)</title>
			<description>CancerGrid Metadata Registry (cgMDR)</description>
			<webUrl>https://localhost:8443/exist/rest/db/mdr/resources/xquery/homepage.xquery</webUrl>
		</query_service>
		<query_service name="cgMDR-Classification-Schemes"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://localhost:8080/exist/rest/db/mdr/services/listClassificationSchemes.xquery"
			cache_collection_id="cgMDR-Classification-Schemes" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CLASSIFICATION_SCHEME" connection_type="REST"
			requestSequence="no_arg_REST"
			digestSequence="add_cg_namespace">
			<title>CancerGrid Metadata Registry (cgMDR)</title>
			<description>CancerGrid Metadata Registry (cgMDR)</description>
			<webUrl>https://localhost:8443/exist/rest/db/mdr/resources/xquery/homepage.xquery</webUrl>
		</query_service>
		<query_service name="cgMDR-Classification-Tree"
			class="org.cancergrid.ws.query.RestQueryService"
			serviceUrl="http://localhost:8080/exist/rest/db/mdr/services/simpleClassificationTree.xquery"
			cache_collection_id="cgMDR-Classification-Tree" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CLASSIFICATION_SCHEME" connection_type="REST"
			requestSequence="cgMDR_Classification_Tree"
			digestSequence="add_cg_namespace">
			<title>CancerGrid Metadata Registry (cgMDR)</title>
			<description>CancerGrid Metadata Registry (cgMDR)</description>
			<webUrl>https://localhost:8443/exist/rest/db/mdr/resources/xquery/homepage.xquery</webUrl>
		</query_service>
	</resources>
	<cache_config>
		<!--cache_provider name="HibernateCacheProvider"
			class="org.cancergrid.ws.cache.hibernate.HibernateCacheProvider"
			resource="cg_cache" cache_period="-1"/-->
	</cache_config>
</config>