<!--
  The Ohio State University Research Foundation, Emory University,
  the University of Minnesota Supercomputing Institute

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/cagrid-grid-incubation/LICENSE.txt for details.
-->
<!--
-->
<?xml version="1.0" encoding="UTF-8"?>
<!-- Example configuration. On local changes, this file should not be committed
 to the source control repository, as it is local configuration specific
-->
<config>
    <common port="8080"/>
    <secure port="8443"/>
    <root path="/db/mdr"/>
</config>
