<cruisecontrol>
    <property environment="env" toupper="true"/>

    <!-- Allow overrides 
    <property file="cc.config.properties"/>-->

    <property name="cc.home" value="${env.CRUISE_HOME}"/>
    <property name="cc.work" value="${env.CRUISE_WORK}"/>
    <property name="ant.home" value="${env.ANT_HOME}"/>

    <property name="mail.host" value="smtp.bmi.ohio-state.edu"/>
    <property name="mail.list" value="hastings@bmi.osu.edu"/>
    <property name="mail.return.addr" value="hastings@bmi.osu.edu"/>

    <property name="project.dir" value="${cc.work}/checkout/${project.name}"/>
    <property name="log.dir" value="${cc.work}/logs/${project.name}" />

    <!-- Preconfigure the plugins -->
    <plugin name="log" dir="${log.dir}"/>
    <plugin name="currentbuildstatuslistener" file="${log.dir}/buildstatus.txt"/>
    <plugin name="ant" anthome="${ant.home}" buildfile="${cc.work}/build-${project.name}.xml" target="test"
        uselogger="true" usedebug="false" timeout="2000"/>
    <plugin name="svn" username="anonymous" password="anonymous" />
    <plugin name="antpublisher"  target="ccpublish"/>
    <plugin name="htmlemail" skipusers="true" reportsuccess="fixes"
        buildresultsurl="http://${env.HOSTNAME}:8080/cruisecontrol/buildresults/${project.name}"
        mailhost="${mail.host}" returnaddress="${mail.return.addr}"
        logdir="${log.dir}"/>



    <plugin name="continuous.project" classname="net.sourceforge.cruisecontrol.ProjectConfig">
        <dateformat format="yyyy-MM-dd'T'HH:mm:ss.SZ"/>
        <listeners>
            <currentbuildstatuslistener/>
        </listeners>
        <bootstrappers/>
        <modificationset quietperiod="30">
            <svn localworkingcopy="${project.dir}/incubator" />
        </modificationset>
        <schedule interval="60">
            <ant>
                <jvmarg arg="-Xmx512m"/>
            </ant>
        </schedule>
        <log>
            <merge dir="${project.dir}/incubator/test/logs/junit"/>
            <merge file="${project.dir}/incubator/test/logs/BuildNameContinuous.xml"/>
        </log>
        <publishers>
            <htmlemail>
                <failure address="${mail.list}" reportWhenFixed="true"/>
            </htmlemail>
            <antpublisher buildfile="${project.dir}/incubator/build.xml"/>
        </publishers>
    </plugin>
	
	<plugin name="continuous.system.test.project" classname="net.sourceforge.cruisecontrol.ProjectConfig">
        <dateformat format="yyyy-MM-dd'T'HH:mm:ss.SZ"/>
        <listeners>
            <currentbuildstatuslistener/>
        </listeners>
        <bootstrappers/>
        <modificationset quietperiod="30">
            <svn localworkingcopy="${project.dir}/test" />
        </modificationset>
        <schedule interval="60">
            <ant>
                <jvmarg arg="-Xmx512m"/>
            </ant>
        </schedule>
        <log>
            <merge dir="${project.dir}/incubator/test/logs/junit"/>
            <merge file="${project.dir}/incubator/test/logs/BuildNameContinuousSystem.xml"/>
        </log>
        <publishers>
            <htmlemail>
                <failure address="${mail.list}" reportWhenFixed="true"/>
            </htmlemail>
            <antpublisher buildfile="${project.dir}/test/build.xml"/>
        </publishers>
    </plugin>

    <plugin name="nightly.project" classname="net.sourceforge.cruisecontrol.ProjectConfig">
        <dateformat format="yyyy-MM-dd'T'HH:mm:ss.SZ"/>
        <listeners>
            <currentbuildstatuslistener/>
        </listeners>
        <bootstrappers/>
        <modificationset quietperiod="30">
            <alwaysbuild/>
        </modificationset>
        <schedule interval="300">
            <ant time="0400" timeout="2000">
                <jvmarg arg="-Xmx512m"/>
            </ant>
        </schedule>
        <log>
            <merge dir="${project.dir}/incubator/test/logs/junit"/>
            <merge file="${project.dir}/incubator/test/logs/BuildNameNightly.xml"/>
        </log>
        <publishers>
            <htmlemail>
                <failure address="${mail.list}" reportWhenFixed="true"/>
            </htmlemail>
            <antpublisher buildfile="${project.dir}/incubator/build.xml"/>
        </publishers>
    </plugin>
	
	<plugin name="nightly.sysytem.test.project" classname="net.sourceforge.cruisecontrol.ProjectConfig">
        <dateformat format="yyyy-MM-dd'T'HH:mm:ss.SZ"/>
        <listeners>
            <currentbuildstatuslistener/>
        </listeners>
        <bootstrappers/>
        <modificationset quietperiod="30">
            <alwaysbuild/>
        </modificationset>
        <schedule interval="300">
            <ant time="0400" timeout="2000">
                <jvmarg arg="-Xmx512m"/>
            </ant>
        </schedule>
        <log>
            <merge dir="${project.dir}/incubator/test/logs/junit"/>
            <merge file="${project.dir}/incubator/test/logs/BuildNameNightlySystem.xml"/>
        </log>
        <publishers>
            <htmlemail>
                <failure address="${mail.list}" reportWhenFixed="true"/>
            </htmlemail>
            <antpublisher buildfile="${project.dir}/test/build.xml"/>
        </publishers>
    </plugin>

    <plugin name="system.project" classname="net.sourceforge.cruisecontrol.ProjectConfig">
        <dateformat format="yyyy-MM-dd'T'HH:mm:ss.SZ"/>
        <listeners>
            <currentbuildstatuslistener/>
        </listeners>
        <bootstrappers/>
        <modificationset quietperiod="30">
            <svn localworkingcopy="${project.dir}/incubator" />
        </modificationset>
        <schedule interval="7200">
            <ant time="0400" timeout="2000">
                <jvmarg arg="-Xmx512m"/>
            </ant>
        </schedule>
        <log>
            <merge dir="${project.dir}/incubator/test/logs/junit"/>
            <merge file="${project.dir}/incubator/test/logs/BuildNameSystem.xml"/>
        </log>
        <publishers>
            <htmlemail>
                <failure address="${mail.list}" reportWhenFixed="true"/>
            </htmlemail>
            <antpublisher buildfile="${project.dir}/incubator/build.xml"/>
        </publishers>
    </plugin>
	
	<plugin name="system.test.project" classname="net.sourceforge.cruisecontrol.ProjectConfig">
        <dateformat format="yyyy-MM-dd'T'HH:mm:ss.SZ"/>
        <listeners>
            <currentbuildstatuslistener/>
        </listeners>
        <bootstrappers/>
        <modificationset quietperiod="30">
            <svn localworkingcopy="${project.dir}/incubator" />
        </modificationset>
        <schedule interval="7200">
            <ant time="0400" timeout="2000">
                <jvmarg arg="-Xmx512m"/>
            </ant>
        </schedule>
        <log>
            <merge dir="${project.dir}/incubator/test/logs/junit"/>
            <merge file="${project.dir}/incubator/test/logs/BuildNameSystem.xml"/>
        </log>
        <publishers>
            <htmlemail>
                <failure address="${mail.list}" reportWhenFixed="true"/>
            </htmlemail>
            <antpublisher buildfile="${project.dir}/test/build.xml"/>
        </publishers>
    </plugin>

    <!-- Make as many of these as you like -->

    
    <continuous.project name="caGrid-Incubation-continuous" buildafterfailed="false"/>
	<nightly.project name="caGrid-Incubation-nightly" buildafterfailed="false"/>
	
	<continuous.system.test.project name="caGrid-Incubation-SystemTest-continuous" buildafterfailed="false"/>
	<nightly.system.test.project name="caGrid-Incubation-SystemTest-nightly" buildafterfailed="false"/>
	
    <!--
	<nightly.project name="caGrid-1.0-nightly" buildafterfailed="false"/>
    <nightly.project name="caGrid-1.0-release-nightly" buildafterfailed="false"/>
    <nightly.project name="caGrid-1.1-release-nightly" buildafterfailed="false"/>
    <nightly.project name="caGrid-1.2-release-nightly" buildafterfailed="false"/>
    <system.project name="caGrid-1.0-system" buildafterfailed="false"/>
    <system.project name="caGrid-1.1-release-system" buildafterfailed="false">
        <modificationset>
            <cvs tag="caGrid-1_1_release"/>
        </modificationset>
    </system.project>
    <system.project name="caGrid-1.2-release-system" buildafterfailed="false">
        <modificationset>
            <cvs tag="caGrid-1_2_release"/>
        </modificationset>
    </system.project>
	-->
    

</cruisecontrol>
