<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/manager_trunk/src/org/cagrid/workflow/manager/client/WorkflowManagerServiceClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.cagrid.workflow.manager.client.WorkflowManagerServiceClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-url ${string_prompt:the service url}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="manager_trunk"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dbpel.file=&quot;C:\\subversion_hawks\\subversion_hawks\\trunk\\grid-incubation\\test\\projects\\workflowManager\\resources\\bpelSamples\\ToyWorkflow.bpel&quot; -Dextra.file=&quot;C:\\subversion_hawks\\subversion_hawks\\trunk\\grid-incubation\\test\\projects\\workflowManager\\resources\\bpelSamples\\first.operationsDesc.xml&quot;"/>
</launchConfiguration>
