<config xmlns="http://cagrid.org/schema/config">
	<resources>
		  <query_service name="caDSR"
         	identifier_prefix="cabio.nci.nih.gov"
			class="org.cagrid.openmdr.ws.query.RestQueryService"
			serviceUrl="http://cadsrapi.nci.nih.gov/cadsrapi40/GetXML"
			cache_collection_id="caDSR" cache="false"
			cache_provider="HibernateCacheProvider" 
			category="CDE" connection_type="REST"
			requestSequence="cadsr_query" digestSequence="cadsr_construct fixtag cadsr_transform add_namespace">
			<title>NCI Cancer Data Standards Repository (caDSR)</title>
			<description>NCICB Resource for Common Data Elements</description>
			<webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/cadsr</webUrl>			
		</query_service> 
	    <query_service name="openMDR" 
        	identifier_prefix="cagrid.org"
        	class="org.cagrid.openmdr.ws.query.RestQueryService" 
        	serviceUrl="http://localhost:8080/exist/rest/db/mdr/services" 
        	cache_collection_id="openMDR" cache="false" 
        	cache_provider="HibernateCacheProvider" 
        	category="CDE" connection_type="REST" 
        	requestSequence="openMDR_REST_query" digestSequence="openMDR_construct">
            <title>Metadata Registry (openMDR)</title>
            <description>Metadata Registry (openMDR)
            </description>
            <webUrl>http://localhost:8080/exist/rest/db/mdr/resources/xquery/homepage.xquery</webUrl>
        </query_service>
        <query_service name="EVS-ConceptIdentifier" 
         	identifier_prefix=""
	        class="org.cagrid.openmdr.ws.query.RestQueryService" 
	        serviceUrl="http://lexevsapi51.nci.nih.gov/lexevsapi51/GetXML" 
	        cache_collection_id="EVS-ConceptIdentifier" cache="false" 
	        cache_provider="HibernateCacheProvider" 
	        category="CONCEPTID" connection_type="REST" 
	        requestSequence="LexEVSConceptId_query" digestSequence="LexEVSConceptId_construct LexEVSConceptId_fixtag LexEVSConceptId_transform">
            <title>NCI Enterprise Vocabulary Services (EVS)</title>
            <description>The NCI EVS is a set of services and resources that
                address NCI's needs for controlled vocabulary.</description>
            <webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/vocabulary</webUrl>
        </query_service>
		 <query_service name="EVS-DescLogicConcept" 
         	identifier_prefix="lexevsapi.nci.nih.gov_EVS-DescLogicConcept"
	        class="org.cagrid.openmdr.ws.query.RestQueryService" 
	        serviceUrl="http://lexevsapi.nci.nih.gov/lexevsapi50/GetXML" 
	        cache_collection_id="EVS-DescLogicConcept" cache="false" 
	        cache_provider="HibernateCacheProvider" 
	        category="CONCEPT" connection_type="REST" 
	        requestSequence="LexEVSDescLogicConcept_query" digestSequence="LexEVSDescLogicConcept_construct fixtag LexEVSDescLogicConcept_transform add_namespace">
            <title>NCI Enterprise Vocabulary Services (EVS)</title>
            <description>The NCI EVS is a set of services and resources that
                address NCI's needs for controlled vocabulary.</description>
            <webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/vocabulary</webUrl>
        </query_service>
        <query_service name="EVS-MetaThesaurusConcept" 
         	identifier_prefix="lexevsapi.nci.nih.gov_EVS-MetaThesaurusConcept"
	        class="org.cagrid.openmdr.ws.query.RestQueryService" 
	        serviceUrl="http://lexevsapi.nci.nih.gov/lexevsapi50/GetXML" 
	        cache_collection_id="EVS-MetaThesaurusConcept" cache="false" 
	        cache_provider="HibernateCacheProvider" 
	        category="CONCEPT" connection_type="REST" 
	        requestSequence="LexMetaThesaurusConcept_query" digestSequence="LexMetaThesaurusConcept_construct fixtag LexMetaThesaurusConcept_transform add_namespace">
            <title>NCI Enterprise Vocabulary Services (EVS)</title>
            <description>The NCI EVS is a set of services and resources that
                address NCI's needs for controlled vocabulary.</description>
            <webUrl>http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/vocabulary</webUrl>
      </query_service>		
	</resources>
</config>