<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- This is the configuration for LOG4J -->
<!-- $Id: log4j.xml 6857 2007-11-02 19:13:38Z chaeron $ -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- Section: APPENDERS -->
    
    <!-- 
         writes log messages to the console. It outputs file name,
         method name and line number of the caller. This is slow,
         so just use it for debugging. 
    -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
 
    <!-- cancergrid query service manager -->
    <logger name="org.cancergrid">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    
</log4j:configuration>
